[Desktop Entry]
Type=Application
Name=rproc
GenericName=System Monitor
Comment=Resource and process monitor for Linux
Exec=rproc
Icon=io.github.trystan_sa.rproc
Terminal=false
Categories=System;Monitor;
Keywords=process;monitor;cpu;memory;system;task;
StartupNotify=true
StartupWMClass=rproc
